body {
    margin:0;
    padding:0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    position: absolute;
    left: 10px;
    border-radius: 5px;
    top: 11%;
}

#legend {
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    position: absolute;
    left: 10px;
    border-radius: 5px;
    bottom: 10px;
}

#legend p {
    margin: 0;
}

.input-color {
    position: relative;
}

.input-color .text {
    padding-left: 70px;
}

.input-color .color-box {
    width: 60px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
