{#
Copyright (C) 2015-2016 Strategway, http://strategway.com

This file is part of "Jupiter", the web application to display public transport
passenger data gathered with "Passim" mobile app.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}
{% block body %}
  <p>Добро пожаловать в систему обработки данных о пассажиропотоках "{{ data['app_name']}}"
    v.{{ data['version']}}!

  <p>Вы работаете с тестовой версией.

  <p>Для работы с системой приготовьте Ваш логин и пароль.

  <p>Система даёт возможность просмотреть на карте и скачать данные, собранные с помощью мобильного приложения "Passim".

  <p>Если Вы готовы начать работу с системой, перейдите по <a href="/view">ссылке</a>.

  <p>Обратную связь оставляйте по адресу:

<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "msshxtwr@5YotYsWytk.wF3"
  key = "C5oGX8qKHOpcEYbvmek26BiUgFDdzaQR9TwJAxP3srV41l0WNIhutjZfMyn7SL"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need JavaScript to be turned on to see the email address.</noscript>

{% endblock %}
