{#
Copyright (C) 2015-2016 Strategway, http://strategway.com

This file is part of "Jupiter", the web application to display public transport
passenger data gathered with "Passim" mobile app.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.label.css') }}" />
  <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
  <script src="{{ url_for('static', filename='js/leaflet.label.js') }}"></script>
{% endblock %}
{% block body %}
  <div id="map"></div>
  <div id="legend">
    {% if service['action'] == 'transport' %}
      <p align='center'><b>Скорость</b></p>
      <div class="input-color">
        <div class="text">≤ {{ service['min_speed'] }} км/ч</div>
        <div class="color-box" style="background-color: #ff0000;"></div>
      </div>
      <div class="input-color">
        <div class="text">{{ service['avg_speed'] }} км/ч</div>
        <div class="color-box" style="background-color: #ffff00;"></div>
      </div>
      <div class="input-color">
        <div class="text">≥ {{ service['max_speed'] }} км/ч</div>
        <div class="color-box" style="background-color: #00ff00;"></div>
      </div>
    {% elif service['action'] == 'traffic' %}
      <p align='center'><b>Пассажиропоток</b></p>
      Максимальное количество в салоне: <b>{{ service['max_passenger'] }}</b><br>
      Суммарное количество: <b>{{ service['total_passenger'] }}</b>
    {% endif %}
    <hr>Номер маршрута: <b>{{ service['route_number'] }}<b>
  </div>
  <script type="text/javascript">
    var geojson_data = {{ geojson|tojson }};
    var map = L.map('map').setView([48.7819, 44.7777], 14);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo( map );
    var feature_obj = L.geoJson(geojson_data, {
      style: function (feature) {
        if (feature.properties.color) {
          if (feature.properties.weight) {
            weight = feature.properties.weight;
          } else {
            weight = 10;
          }
          if (feature.properties.opacity) {
            opacity = feature.properties.opacity;
          } else {
            opacity = 1.0;
          }
          return {
            color: feature.properties.color,
            opacity: opacity,
            weight: weight
          }
        }
      },
      onEachFeature: function (feature, layer) {
        if (feature.properties.speed) {
          layer.bindLabel(
            'Средняя скорость: ' + feature.properties.speed.toPrecision(4) + ' км/ч<br>' +
            'Расстояние: ' + feature.properties.distance.toPrecision(4) + ' метров<br>' +
            'Время поездки: ' + feature.properties.time.toPrecision(4) + ' минут'
          );
        }
        if (feature.properties.count) {
          layer.bindLabel(
            'Количество пассажиров: ' + feature.properties.count
          );
        }
      },
      pointToLayer: function (feature, latlng) {
        label_text =
          'Время: ' + feature.properties.timestamp + '<br>' +
          'Вошло: ' + feature.properties.in + '<br>' +
          'Вышло: ' + feature.properties.out + '<br>' +
          'Пассажиров: ' + feature.properties.now + '<br>' +
          'Координаты: ' + latlng.lat + ', ' + latlng.lng;
        return new L.CircleMarker(latlng, {radius: 10}).bindLabel(label_text);
      }
    });
    feature_obj.addTo(map);
    map.fitBounds(feature_obj);
  </script>
{% endblock %}
