{#
Copyright (C) 2015-2016 Strategway, http://strategway.com

This file is part of "Jupiter", the web application to display public transport
passenger data gathered with "Passim" mobile app.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}
{% block head %}
  <style>#user_list, #data_list { width: 250px; }</style>
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/date.js') }}"></script>
{% endblock %}
{% block body %}
<div id="menu">
  {% if args['foreman'] %}
  <p>Пользователи</p>
  <select id="user_list">
    {% for user in args['users'] %}
      <option>{{ user }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <script src="{{ url_for('static', filename='js/update.js') }}"></script>
  <p>Загруженные данные</p>
  <div id='user_data'></div>
  <script>update_data()</script>
</div>
{% endblock %}
